
   .pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signupWrapper {
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
  }
  
  .optionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .linkStyle {
    text-decoration: none;
    color: #1976d2;
    display: inline;
    cursor: pointer;
  }
  
  .linkStyle:hover {
    text-decoration: underline;
  }
  
  .signinLink {
    text-align: center;
  }
  
  .typographyStyle {
    color: #4C4E64DE;
    font-size: 16px;
  }
  
  .customFontColor {
    color: #4C4E64DE;
  }
  
  .customButton {
    width: 100%;
    margin-bottom: 16px;
  }
  
  
  